services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: BaroLab
      POSTGRES_PASSWORD: BaroLab_password
      POSTGRES_DB: BaroLab
    volumes:
      - ./data:/var/lib/postgresql
